**/build/
**/bin/
*.o
*.out
*.class
.vscode/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
Thumbs.db
*.swp
*~
backend/src/dataset/data
backend/src/dataset/data.zip
backend/lib/*
!backend/lib/.keep
.env
**/.env
*/models/**
!*/models/.keep
*/libtorch
*/last_session.png